.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me-title {
  padding-top: 10px;
}

.about-me-text {
  padding-bottom: 20px;
}

img.hero-image {
  max-width: 100%;
  padding: 20px 0;
}

img.about-me-contact-icon {
  filter: invert(42%) sepia(0%) saturate(23%) hue-rotate(269deg) brightness(92%) contrast(83%);
  width: 42px;
  margin-right: 10px;
}

/* MOBILE */
@media (min-width: 501px) and (max-width: 780px) { 
  .about-me-description {
    margin-right: 30px;
  }
}

@media (max-width: 500px) {
  .about-me {
    display: block;
  }
  .about-me-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about-me-title {
    text-align: center;
  }
  .about-me-text {
    text-align: center;
  }
  img.hero-image {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    padding: 40px 0 0 0;
  }
}